body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #8e2de2, #4a00e0);
}

.container {
    width: 470px;
    margin: 50px auto;
    padding: 30px;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

h1 {
    color: #112A46;
    text-align: center;
    margin-bottom: 20px;
}

.input {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
button {
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 1rem;
    font-weight: bolder;
    border: none;

}

#taskList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.task-item {
    background-color: #f1f1f1;
    margin-bottom: 10px;
    padding: 10px;
    border: 5px;
    position: relative;
}

.task-item.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-buttons {
    margin-top: 5px;
}

.task-buttons button {
    margin-right: 8px;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: "background" 0.3s ease, transform 0.2s ease;
}

.task-buttons button:nth-child(1) {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

.task-buttons button:nth-child(2) {
    background: linear-gradient(to right, #11998e, #38ef7d);
}

.task-buttons button:nth-child(3) {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.task-buttons button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
